.countrycapitalquiz {
  /* border: 1px solid red; */
}

.countrycapitalquiz__question {
  /* border: 2px solid greenyellow; */
  color: rgba(233, 233, 233, 0.801);
}

.countrycapitalquiz__avatar {
  /* border: 2px dotted blue; */
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.countrycapitalquiz__answers {
  /* border: 2px solid green; */
  margin-top: 20px;
  color: white;
}

.countrycapitalquiz__score {
  width: 100px;
  margin-top: 10px;
}
