.quizlevel {
  /* I am not sure why if I get rid of the border then top margin pushes the footer down. Just adding a border stops it  */
  border: 2px solid rgb(56, 69, 82);
}

.quizlevel__imglevels {
  /* border: 2px solid orange; */
  text-align: center;
  margin-top: 100px;
}
.quizlevel__imgbtn {
  margin-left: 15px;
  border-radius: 10px;
  width: 200px;
  height: 100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition-duration: 0.4s;
}

.quizlevel__imgbtn:hover {
  cursor: pointer;
  filter: saturate(150%);
  filter: contrast(150%);
}

.quizlevel__imgbtn:active {
  filter: invert(100%);
}
