.quizmaster {
  display: flex;
  justify-content: center;
}

.quizmaster__questions {
  width: 900px;
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.quizmaster__questions > Button {
  /* margin auto to horizontally center the elements in it's container */
  margin: auto;
  height: 40px;
  width: 120px !important;
}

.quizmaster__next {
  float: right;
  width: 120px !important;
}
