.quizlevel {
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.quizlevel__imgbtn {
  /* object-fit: contain; */
  margin-top: 100px;
  margin-left: 15px;
  /* margin: 15px; */
  border-radius: 10px;
  width: 200px;
  height: 100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition-duration: 0.4s;
}

.quizlevel__imgbtn:hover {
  cursor: pointer;
  filter: saturate(150%);
  filter: contrast(150%);
  /* filter: invert(100%); */
}

.quizlevel__imgbtn:active {
  filter: invert(100%);
}
