.countrycapitalquiz {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  text-align: center;
}

.countrycapitalquiz__question {
  display: flex;
  color: rgba(233, 233, 233, 0.801);
}

.countrycapitalquiz__avatar {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  display: block;
}

.countrycapitalquiz__flag {
  object-fit: contain;
  width: 100%;
  height: auto;
}

.countrycapitalquiz__answers {
  /* border: 2px solid green; */
  margin-top: 20px;
  color: white;
}

.countrycapitalquiz_checkanswer {
  margin-top: 20px !important;
  width: 170px !important;
}

.countrycapitalquiz__score {
  width: 100px;
  margin-top: 10px;
}
